USE [master]
GO
/****** Object:  Database [CSSMain]    Script Date: 04/06/2021 10:15:58 SA ******/
CREATE DATABASE [CSSMain]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CSSMain', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CSSMain.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CSSMain_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CSSMain_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CSSMain].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CSSMain]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 04/06/2021 10:15:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[idBill] [int] NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Total] [int] NULL,
	[ngayMua] [date] NULL,
	[tinhTrangGH] [bit] NULL,
 CONSTRAINT [PK_Bill] PRIMARY KEY CLUSTERED 
(
	[idBill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillDetails]    Script Date: 04/06/2021 10:15:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillDetails](
	[idBill] [int] NOT NULL,
	[id] [int] NOT NULL,
	[amount] [int] NULL,
 CONSTRAINT [PK_BillDetails] PRIMARY KEY CLUSTERED 
(
	[idBill] ASC,
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 04/06/2021 10:15:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[id] [int] NOT NULL,
	[name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 04/06/2021 10:15:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[image] [nvarchar](max) NOT NULL,
	[descriptions] [nvarchar](max) NOT NULL,
	[categoryId] [int] NOT NULL,
	[price] [bigint] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoppingCart]    Script Date: 04/06/2021 10:15:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingCart](
	[Email] [nvarchar](100) NOT NULL,
	[id] [int] NOT NULL,
	[Amount] [int] NULL,
 CONSTRAINT [PK_ShoppingCart] PRIMARY KEY CLUSTERED 
(
	[Email] ASC,
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 04/06/2021 10:15:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](400) NULL,
	[isAdmin] [bit] NULL,
	[birthday] [date] NULL,
	[gender] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Bill] ([idBill], [Email], [Total], [ngayMua], [tinhTrangGH]) VALUES (396955, N'abe123@gmail.com', 190000, CAST(N'2021-05-31' AS Date), 1)
INSERT [dbo].[Bill] ([idBill], [Email], [Total], [ngayMua], [tinhTrangGH]) VALUES (406757, N'abe123@gmail.com', 790000, CAST(N'2021-05-31' AS Date), 0)
INSERT [dbo].[Bill] ([idBill], [Email], [Total], [ngayMua], [tinhTrangGH]) VALUES (648640, N'abe1@gmail.com', 1200000, CAST(N'2021-06-02' AS Date), 0)
GO
INSERT [dbo].[BillDetails] ([idBill], [id], [amount]) VALUES (396955, 6, 1)
INSERT [dbo].[BillDetails] ([idBill], [id], [amount]) VALUES (396955, 7, 1)
INSERT [dbo].[BillDetails] ([idBill], [id], [amount]) VALUES (406757, 7, 6)
GO
INSERT [dbo].[Categories] ([id], [name]) VALUES (1, N'Coffee')
INSERT [dbo].[Categories] ([id], [name]) VALUES (2, N'Bánh kem')
INSERT [dbo].[Categories] ([id], [name]) VALUES (3, N'Bánh ngọt')
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [name], [image], [descriptions], [categoryId], [price]) VALUES (6, N'Chessecake', N'/app/img/coffee/chessecake.jpeg', N'Cheesecake là một loại bánh có sự kết hợp hài hoà của phô mai tươi, kem, sữa và trứng. Chiếc bánh cheesecake chính là món tráng miệng được yêu thích bởi sự béo ngậy, thơm lừng và ngọt ngào của chúng.', 2, 70000)
INSERT [dbo].[Product] ([id], [name], [image], [descriptions], [categoryId], [price]) VALUES (7, N'Macchiato', N'/app/img/coffee/macchiato.jpg', N'Trong tiếng Ý, Macchiato hay caffe macchiato có nghĩa là “đánh dấu” hoặc “vệt lốm đốm” chỉ hình ảnh một tấm vải trắng điểm xuyến những chấm nhỏ li ti bên trên tương tự như ly macchiato có lớp bọt sữa trắng trên bề mặt và được rắc thêm các đốm nâu bột cà phê lên để trang trí. Cùng với Cappuccino và Latte, Macchiato cũng là loại thức uống được tạo thành từ 2 thành phần nguyên liệu chính là cà phê espresso và sữa.', 1, 120000)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
INSERT [dbo].[ShoppingCart] ([Email], [id], [Amount]) VALUES (N'bich@gmail.com', 5, 2)
INSERT [dbo].[ShoppingCart] ([Email], [id], [Amount]) VALUES (N'bich@gmail.com', 7, 1)
INSERT [dbo].[ShoppingCart] ([Email], [id], [Amount]) VALUES (N'bich@gmail.com', 11, 3)
GO
INSERT [dbo].[User] ([Email], [Password], [Name], [Phone], [Address], [isAdmin], [birthday], [gender]) VALUES (N'abe1@gmail.com', N'123', N'Abe dep trai', N'012321939123', N'Viet Nam HCM', 0, CAST(N'2004-06-16' AS Date), 1)
INSERT [dbo].[User] ([Email], [Password], [Name], [Phone], [Address], [isAdmin], [birthday], [gender]) VALUES (N'abe123@gmail.com', N'123', N'AbeĐẹpTrai', N'01212592798', N'Quan 12 , HCM', 1, CAST(N'2000-11-18' AS Date), 1)
INSERT [dbo].[User] ([Email], [Password], [Name], [Phone], [Address], [isAdmin], [birthday], [gender]) VALUES (N'bich@gmail.com', N'123', N'bich quang', N'0214214213213', N'Viet Nam BP', 0, CAST(N'2004-02-01' AS Date), 0)
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_User] FOREIGN KEY([Email])
REFERENCES [dbo].[User] ([Email])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_User]
GO
ALTER TABLE [dbo].[BillDetails]  WITH CHECK ADD  CONSTRAINT [FK_BillDetails_Bill] FOREIGN KEY([idBill])
REFERENCES [dbo].[Bill] ([idBill])
GO
ALTER TABLE [dbo].[BillDetails] CHECK CONSTRAINT [FK_BillDetails_Bill]
GO
ALTER TABLE [dbo].[BillDetails]  WITH CHECK ADD  CONSTRAINT [FK_BillDetails_Product] FOREIGN KEY([id])
REFERENCES [dbo].[Product] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BillDetails] CHECK CONSTRAINT [FK_BillDetails_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Categories] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Categories] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Categories]
GO
ALTER TABLE [dbo].[ShoppingCart]  WITH CHECK ADD  CONSTRAINT [FK_ShoppingCart_Product] FOREIGN KEY([id])
REFERENCES [dbo].[Product] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShoppingCart] CHECK CONSTRAINT [FK_ShoppingCart_Product]
GO
ALTER TABLE [dbo].[ShoppingCart]  WITH CHECK ADD  CONSTRAINT [FK_ShoppingCart_User] FOREIGN KEY([Email])
REFERENCES [dbo].[User] ([Email])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShoppingCart] CHECK CONSTRAINT [FK_ShoppingCart_User]
GO
USE [master]
GO
